doctype html
html
    head
        title node-notebook
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style
            include notebook.css
    body
        div.navbar.navbar-black
            div.container
                div.navbar-title(style="margin-top:40px;")
                    a(href="/") node-notebook
                div.nav.nav-outline(style="padding-top:0px;padding-bottom:0px;")
                    a(style="display: inline-block;" href="https://github.com/gabrielcsapo/node-notebook")
                        i(class="fa fa-3x fa-github")
                    a(style="display: inline-block;" href="/notebook")
                        i(class="fa fa-3x fa-plus")
                    p(href="#" id="total-time" class="badge background-black text-white" style="margin-top: -15px;border-radius:0px;height:40px;width:auto;line-height:40px;display:inline-block;")

        div(class="code-container" data-stored-values=stored_values)
            if (share_url)
                button(class="btn border-primary" id="btn-save") Save
                button(class="btn border-default pull-right" id="btn-run-all") Run
                br
                br
                pre
                    small
                        span share url :&nbsp;
                            span=share_url
            else
                button(class="btn border-primary" id="btn-save") Create
            hr.ellipsis
        div.navbar.footer
            div.container.text-center
                div.text-black
                    a(href="https://github.com/gabrielcsapo/node-notebook" class="text-primary")
                        i(class="fa fa-github") &nbsp; node-notebook &nbsp;
                    span created with 🖕 by &nbsp;
                        a(href="https://github.com/gabrielcsapo" class="text-primary") @gabrielcsapo
        script
            include bundle.js
