doctype html
html
    head
        title node-notebook
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css")
        link(rel="stylesheet" href="/assets/psychic-ui/psychic-min.css")
        link(rel="stylesheet" href="/assets/codemirror/lib/codemirror.css")
        link(rel="stylesheet" href="/assets/app.css")
        link(rel="stylesheet" href="/assets/notebook.css")
        script(src="/assets/codemirror/lib/codemirror.js" type="text/javascript")
        script(src="/assets/codemirror/mode/javascript/javascript.js" type="text/javascript")
    body
        div.badge.badge-default(id="total-time" style="margin:15px;position:absolute;right:0;top:0;")
        div(class="code-container" data-stored-values=stored_values)
            if (share_url)
                button(class="btn border-primary" id="btn-save") Save
                button(class="btn border-default pull-right" id="btn-run-all") Run
                br
                br
                pre
                    small
                        span share url :&nbsp;
                            span=share_url
            else
                button(class="btn border-primary" id="btn-save") Create
            hr
            div.navbar.footer
                div.container.text-center
                    div.text-black
                        a(href="https://github.com/gabrielcsapo/node-notebook" class="text-primary")
                            i(class="fa fa-github") &nbsp; node-notebook &nbsp;
                        span created with 🖕 by &nbsp;
                            a(href="https://github.com/gabrielcsapo" class="text-primary") @gabrielcsapo
        script(src="/assets/notebook.js" type="text/javascript")
