hr {
    display: block;
    border: 0 solid #e0dedf;
    border-bottom-width: 1px;
    margin: 50px auto 10px auto;
    max-width: 100%;
    position: relative
}
hr:before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: -.5em;
    box-shadow: 0 0 0 0.5em white;
}
.CodeMirror {
    height: auto;
    margin-left:-30px;
}
.CodeMirror-gutters {
    background-color: transparent;
    border-right: 0;
}
pre {
    background-color: transparent;
}
.code-loading {
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 5px;
    display: none;
}
.code-response {
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 5px;
    display: none;
}
.editor-form {
    font-size: 18px;
    width: 96%;
    float: right;
}
.code-tooltip {
    margin-left:33px;
}
.code-actions {
    float: right;
    margin-top: 5px;
}
.code-actions > .fa-play {
    display: none;
}
.code-container {
    width:50%;
    margin:0 auto;
    margin-top:60px;
}
@media (width: 320px) {
    .code-container {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
        margin-top:10px;
        padding-bottom: 2%;
        padding-bottom: 2%;
    }
    .CodeMirror {
        margin-left: 0px;
    }
    .code-actions {
        width:100%;
        text-align: center;
    }
    .code-actions > * {
        font-size: 28px;
    }
    .code-actions > .fa-play {
        display: inline-block;
    }
    .code-tooltip {
        width:100%;
    }
}
@media (width: 640px) {
    .code-container {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .code-actions > .fa-play {
        display: inline-block;
    }
}

.treeview {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.treeview input ~ label:before {
    opacity: 1.0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.treeview ul {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    margin-top:0;
    margin-bottom:0;
    padding-left: 15px;
    list-style: none;
}
.treeview ul li span {
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.treeview input {
    display: none;
}
.treeview input:checked ~ ul {
    display: none;
}
.treeview input ~ label {
    cursor: pointer;
}
.treeview input ~ label:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    margin-left: -1em;
    margin-top: 0.4em;
    border-width: 4px;
    border-style: solid;
    border-top-color: rgba(0, 0, 0, 0.61);
    border-right-color: rgba(255, 21, 50, 0.5);
    border-bottom-color: rgba(180, 169, 255, 0.5);
    border-left-color: transparent;
    opacity: 1;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.treeview input:checked ~ label:before {
    margin-left: -0.8em;
    border-width: 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgba(255, 255, 255, 0.5);
}
